---
import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;

---

<div class="w-full h-full">
	<video class="m-0 w-full" id="playerVideo" pcmaudio="none" autoplay hwz="off" viewmode="scale-to-fit" muted src="https://akmprod.blob.core.windows.net/cmsstorage/aucklandmuseum/video/THW-Short.mp4"></video>
</div>