---
import "styles/global.css";
import { ResolutionWidth, ResolutionHeight} from "utils/amUtils";

interface Props {
  blok: any;
}

const { blok } = Astro.props;

const textColor: string = blok.textColour?.color
  ? blok.textColour.color
  : "#FFFFFF";
const backgroundColor: string = blok.backgroundColour?.color
  ? blok.backgroundColour.color
  : "#000000";

const scale: number = blok?.scale ? blok.scale : 1;
const orientation: "H" | "V" = blok?.orientation ? blok.orientation : "H";
const resolution: string = blok?.resolution ? blok.resolution : "FHD";
const screenWidth: number = ResolutionWidth(resolution, orientation);
const screenHeight: number = ResolutionHeight(
  resolution,
  orientation
);
const blokWidth: number =
  (screenWidth * (blok.widthNumber ? blok.widthNumber : 1)) / scale;
const blokHeight: number =
  (screenHeight * (blok.heightNumber ? blok.heightNumber : 1)) / scale;
---

<!doctype html>
<html lang="en" style=`font-size: ${32 / (scale ? scale : 1)}px;`>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="preload"
      href="/fonts/GothamNarrow-Light.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/GothamNarrow-Book.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/GothamNarrow-Medium.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
  </head>
  <body
    style={`color:${textColor};background-color:${backgroundColor};width:${blokWidth}px;height:${blokHeight}px;`}
  >
    <slot />
  </body>

  <style is:global>
    h1 {
      @apply text-[9rem] font-black leading-[7rem] tracking-normal uppercase mb-4;
    }

    h2 {
      @apply text-[9rem] font-thin leading-[7rem] tracking-normal uppercase mb-4;
    }

    h3 {
      @apply text-4xl font-black leading-10 tracking-wide uppercase mb-4;
    }

    h4 {
      @apply text-2xl font-black leading-8 tracking-wide uppercase mb-4 border-b-[0.1rem];
    }

    h5 {
      @apply text-2xl font-black leading-8 tracking-wide uppercase;
    }
    p {
      @apply font-normal text-[2rem] leading-9 tracking-normal;
    }
    p.contentsmall,
    span.contentsmall {
      @apply !text-2xl !leading-7;
    }

    p.contenttiny,
    span.contenttiny {
      @apply !text-xl;
    }

    br {
      @apply leading-4;
    }

    strong {
      @apply font-normal;
    }
  </style>
</html>
